@import "../src/components/UI/variables";

body {
  margin: 0;
  background-color: $background;


}

img{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), local('Roboto-Light'), url('/components/UI/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto'), local('Roboto-Regular'), url('/components/UI/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/components/UI/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/components/UI/fonts/Roboto-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: local('Roboto Black'), local('Roboto-Black'), url('/components/UI/fonts/Roboto-Black.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
}


